<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
</head>
<body>
<h1>Вход в систему</h1>
<form th:method="POST" th:action="@{/auth/singin}" th:object="${user}">
    <label for="username">Имя пользователя:</label>
    <br/>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Пароль:</label>
    <br/>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Войти">
</form>
<br/><a th:href="@{/}">На главную</a>
</body>
</html>