<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Маршрут</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<h1>Маршрут</h1>
<h4>Имя маршрута:</h4>
    <p th:text="${route.getName()}"/>
<h4>Номер маршрута:</h4>
    <p th:text="${route.getId()}"/>

<form th:action="@{/routes/{id}/edit(id=${route.getId()})}">
    <input type="submit" value="Редактировать маршрут"/>
</form>
<form th:method="DELETE" th:action="@{/routes/{id}(id=${route.getId()})}">
    <input type="submit" value="Удалить маршрут"/>
</form>
<br/><a th:href="@{/}">На главную</a>
</body>
</html>