<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit auto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container text-left">
    <form style="max-width: 500px;" th:method="PUT" th:action="@{/autos/{id}/edit(id=${auto.getId()})}" th:object="${auto}">
        <div class="m-3">
            <div class="col-auto">
                <label class="col-form-label" for="num">Enter num:</label>
                <input class="form-control" type="text" th:field="*{num}" id="num"/>
            </div>
            <br/>
                <label class="col-form-label" for="color">Enter color:</label>
                <input class="form-control" type="text" th:field="*{color}" id="color"/>
            <div class="col-auto">
            <br/>
                <label class="col-form-label" for="mark">Enter mark:</label>
                <input class="form-control" type="text" th:field="*{mark}" id="mark"/>
            </div>
            <br/>
                <input type="submit" value="Submit">
        </div>
    </form>
</div>

</body>
</html>