<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать автомобиль</title>
</head>
<body>
<form th:method="PUT" th:action="@{/autos/{id}/edit(id=${auto.getId()})}" th:object="${auto}">
    <label for="num">Введите имя автомобиля:</label>
    <input type="text" th:field="*{num}" id="num"/>
    <label for="color">Введите цвет автомобиля:</label>
    <input type="text" th:field="*{color}" id="color"/>
    <label for="mark">Введите марку автомобиля:</label>
    <input type="text" th:field="*{mark}" id="mark"/>
    <br/>
    <input type="submit" value="Сохранить">
</form>
<br/><a th:href="@{/}">На главную</a></body>
</html>