<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Автомобиль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<h1>Автомобиль</h1>
<h4>Имя автомобиля:</h4>
    <p th:text="${auto.getNum()}"/>
<h4>Цвет автомобиля:</h4>
    <p th:text="${auto.getColor()}"/>
<h4>Марка автомобиля:</h4>
    <p th:text="${auto.getMark()}"/>
<h4>Номер автомобиля:</h4>
    <p th:text="${auto.getId()}"/>

<form th:action="@{/autos/{id}/edit(id=${auto.getId()})}">
    <input type="submit" value="Редактировать автомобиль"/>
</form>
<form th:method="DELETE" th:action="@{/autos/{id}(id=${auto.getId()})}">
    <input type="submit" value="Удалить автомобиль"/>
</form>

</body>
</html>