<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать журнал</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container text-left">
    <form th:method="PUT" th:action="@{/journals/{id}/edit(id=${journal.getId()})}" th:object="${journal}">
        <label for="timeIn">Время въезда:</label>
        <input th:type="date" th:field="*{timeIn}" id="timeIn"/>
        <br/>
        <label for="timeOut">Время выезда:</label>
        <input th:type="date" th:field="*{timeOut}" id="timeOut"/>
        <br/>
        <input type="submit" value="Сохранить">
    </form>
</div>

</body>
</html>