<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit journal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container text-left">
    <form class="col-form-label" th:method="PUT" th:action="@{/journals/{id}/edit(id=${journal.getId()})}" th:object="${journal}">
        <div class="m-3">
            <div class="col-auto">
                <label class="col-form-label" for="timeIn">Enter time in:</label>
                <input class="form-control" th:type="date" th:field="*{timeIn}" id="timeIn"/>
            </div>
            <br/>
            <div class="col-auto">
                <label class="col-form-label" for="timeOut">Enter time out:</label>
                <input class="form-control" th:type="date" th:field="*{timeOut}" id="timeOut"/>
            </div>
            <br/>
                <input type="submit" value="Submit">
        </div>
    </form>
</div>

</body>
</html>