<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Журнал оператора</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<h1>Журнал оператора</h1>
<h4>Время въезда:</h4>
    <p th:text="${#dates.format(journal.getTimeIn(), 'dd/MM/yyyy')}"/>
<h4>Время выезда:</h4>
    <p th:text="${#dates.format(journal.getTimeOut(), 'dd/MM/yyyy')}"/>
<h4>Номер маршрута:</h4>
    <p th:text="${journal.getId()}"/>

<form th:action="@{/journals/{id}/edit(id=${journal.getId()})}">
    <input type="submit" value="Редактировать журнал"/>
</form>
<form th:method="DELETE" th:action="@{/journals/{id}(id=${journal.getId()})}">
    <input type="submit" value="Удалить журнал"/>
</form>

</body>
</html>