<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сотрудник</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<h1>Сотрудник</h1>
<h4>Имя сотрудника:</h4>
    <p th:text="${personnel.getFirstName()}"/>
<h4>Фамилия сотрудника:</h4>
    <p th:text="${personnel.getLastName()}"/>
<h4>Отчество сотрудника:</h4>
    <p th:text="${personnel.getPatherName()}"/>
<h4>Номер сотрудника:</h4>
    <p th:text="${personnel.getId()}"/>

<form th:action="@{/personnels/{id}/edit(id=${personnel.getId()})}">
    <input type="submit" value="Редактировать сотрудника"/>
</form>
<form th:method="DELETE" th:action="@{/personnels/{id}(id=${personnel.getId()})}">
    <input type="submit" value="Удалить сотрудника"/>
</form>

</body>
</html>