<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать сотрудника</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<form th:method="PUT" th:action="@{/personnels/{id}/edit(id=${personnel.getId()})}" th:object="${personnel}">
    <label for="firstName">Введите имя сотрудника:</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="lastName">Введите фамилию сотрудника:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="patherName">Введите отчетво сотрудника:</label>
    <input type="text" th:field="*{patherName}" id="patherName"/>
    <br/>
    <input type="submit" value="Сохранить">
</form>

</body>
</html>